/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";


$body: 'Open Sans', sans-serif;
$heading: 'Montserrat', sans-serif;
$warna1: #fff;
// $mainred: #b80000;
// $mainred: #E02828;
$mainred:#F44336;
$warna2: #f5f5f5;

*{
   box-sizing: border-box;
   -webkit-font-smoothing: antialiased;
}

body{
  max-width: 1824px;
  width: 100%;
  left: 0;
  height: 100%;
  font-weight: 400;
  position: relative;
  // overflow: hidden;
  margin: 0 auto;
      color: #565a5c;
    font-family: $body;
    font-size: 14px;
    line-height: 1.43;
}


    ul, nav{
      overflow: hidden;
    }

body#home{
   background-color: $warna2;
}

body#calendar{
   background-color: #fff;

   // div:not(#map){
   //   overflow: hidden;
   // }


   .hiccup-back-overlay-child{
      min-height: 80%;
      min-width: 90%;
   }

   #map{
      width: 100%;
      height: 205px;
   }

   .article-container, .flex-img, .fill-article{
      overflow: hidden;
   }
}

.icon-close{
   i{
    position: absolute;
    right: 0;
    margin: 10px;
    font-size: 150%;
   }
}

.straight-menu{
   background: #fff;
   width:100%;
   position: relative;
   margin-bottom: 10px;
   overflow: hidden;

   header.navigation{
      position: relative;
      margin-left:auto;
      margin-right: auto;
      display: block;
   }
}


#mobile-menu{
   width: 50%;
   left:-50%;
   position: fixed;
    top: 0;
    bottom: 0;
    z-index: 400;
    background-color: #fff;
    padding: 0px;

      img{
         max-width: 80%;
         height: auto;
      }

      li{
         padding: 10px;
         border-bottom: 1px solid #bebebe;

         overflow: hidden;
      }

      a{
         color: #B5B5B5;
         text-decoration: none;
         font-size: 200%;
      }

      a:hover{
         color: #cc000d;
      }

      .mobile-search{
         margin-right: 5px;

         input{
            border: 1px solid #bebebe;
            border-radius: 5px;

         }
      }

      .mobile-sc{
         width:100%;
         margin: 0 auto;
      }

      .social-icon{
         display: inline-block;
         vertical-align: middle;
         text-align: center;
         width:100%;

         a{
            margin-right: 10px;
         }
      }

}


   header li{
   // font-family: $body;
   font-weight: 400;
   line-height: 1.43;
   }

h1, h2, h3{
   font-family: $heading;
}

.rights{
  float: left;
}

.left{
   float:right;
}

header{
  padding: 10px;
}

.main-width{
  max-width: 70%;
  // width: 960px;
  // width: 80%;
  margin-left: auto;
  margin-right: auto;
}


header.navigation{
  background-color: $warna1;
}


#calendar .menu-toggle{
      color: $mainred;
      float: right;
      right: 0;
      left: auto;
      z-index: 500;
      height: 40px;
      background: #fff;

      &:hover{
         color: #000;
      }

      i{
        color: $mainred;
      }
}

.menu-toggle{
   border: 1px solid #fff;
   display: none;
   z-index: 1;
   position: absolute;
   top:0;
   left: 0;
   border-radius: 5px;
   color: #fff;
   margin:10px;
   padding:5px;
   font-size: 150%;
   background: none;

   i{
      color: #fff;
      text-decoration: none;
   }
}

.menu-mobile{
   position: fixed;
   border: 1px solid $mainred;
   color: $mainred;
   height:50px;
}


.floatok{
   float: left;
   height: 100%;
}




header.navigation{
    position: absolute;
    display: inline-block;
    margin: 0 auto;
    left: 0;
    right: 0;

    width:70%;
    min-height: 3%;
    z-index: 1;

  .logo{
      height:auto;
      width: 19%;
      padding: 0.5%;
            border-right: 1px solid #B5B5B5;

      img{
        width: 100%;
        height: auto;
      }

    }

    nav {

      width: 79%;
      overflow: hidden;
      color: #B5B5B5;
      font-weight: 700;

      a{
         color: #B5B5B5;
         text-decoration: none;
      }

      a:hover{
         color: #cc000d;
      }

      ul{
         margin:0.5%;
         font-size: 100%;
      }



      .ul-wrapper{
         margin-top: 2%;
      }

      .left-ul{
         width: 69%;
         font-weight: 700;

         li{
         float: left;
         // margin-top: 4%;
         margin-left: 3%;
         }

      }

      .right-ul{
        position: relative;
        width:29%;
        text-align: right;
        transition: all 2s;
        -o-transition: all 2s;
        -moz-transition: all 2s;
        -webkit-transition: all 2s;

        li{
           margin-right: 15%;
           position: relative;
           float: right;

           ul{
             position: absolute;
          }
        }

      }

      .searchbar{
         display:none;

         input{
            border-radius: 5px;
            border: 1px solid #ebebeb;
         }
      }

      .fa-search:hover .searchbar{
         width:100%;
      }


    }
}

section.slide-wrapper{
   position: relative;

  .ninja-wrap{
     max-width: 100%;
     height: 680px;

     .slider-cont{
        position: relative;
     }

     .slide{
        width:100%;
        height: 680px;
        position: absolute;
        display: none;


        section.row {
           padding-top:15vw ;
           background-color: transparent;
           margin: 0 auto;

           .slide-copy{
             width: 40%;
             margin:10px;

             h1{
                font-weight: 700;
                margin-bottom:10px;
                font-size: 3vw;
                color: $mainred;

                      }

            a{
               color: $mainred;
               font-weight: 700;
               text-decoration: none;

               &:hover{
                  color: white;
               }
            }



            p{
               color: #fff;
               text-align: justify;
            }
                   }
                 }
              }
          }

   .slider-nav{
      text-align: center;
      position: absolute;
      bottom: 0;
      margin-bottom: 10px;
      font-size: 25px;
      font-weight: 700;

      .slider-nav-wrapper{
         display: inline-block;
      }

      a, ul, li{
         float:left;
      }

      li{
         margin: 5px;
         display: inline-block;
      }

      a{
         // margin-top: 16px;
         // width: 1vw;
         // height: 1vw;

         i{
            color: #ebebeb;
         }
      }

      .dot{
         color: #bebebe;
      }

      .activedot{
         color: $mainred;
      }

      .activeslide{
         display: block;
      }
   }
}

.activeevent{
   display: block;
}

.tagline{
   padding: 10px;
}


section.bodywrapper{
   .main-menu{

      ul, li{
         float:left;
      }

      li{
         width: 33.3%;
         height: 20%;
      }

      .main-menu-wrapper{
         height: 20vw;
         float: left;
         width: 33.3%;
         position:relative;
         background: #000;

         a{
            text-decoration: none;
         }

         article{
            margin:15%;
            padding:2% ;
            text-align: center;
            vertical-align: middle;
            color:#fff;
            border: 2px solid #fff;
            background: rgba(0,0,0,0.5);
            // -webkit-box-shadow:inset 0px 0px 0px 2px #000;
            //  -moz-box-shadow:inset 0px 0px 0px 2px #000;
            //  box-shadow:inset 0px 0px 0px 2px #000;
             z-index: 1;
             position: relative;

             h1{
                font-weight: 700;
                font-size: 2vw;
                margin: 5px;
             }

             p{
                font-size: 1vw;
             }


         }



         .inner-ninja{
            background: rgba(0,0,0,0.5);
            overflow: hidden;

            .div-img-bg{
               -webkit-filter:grayscale(80%);
               transition: all 2s;
               -o-transition: all 2s;
               -moz-transition: all 2s;
               -webkit-transition: all 2s;
               background-repeat: no-repeat;
               background-size: 100% 100%;
               background-position: bottom;
               opacity: 0.7;
               width:100%;
               height:100%;
               position:absolute;
               display: inline-block;

            }
         }
      }


      .main-menu-wrapper:hover .div-img-bg{
         -webkit-filter:none;
         background-size: 120% 120%;
         opacity: 0.9;
      }

      .main-menu-wrapper:hover article{
         background-color: $mainred;
         color: #fff;
         border: 2px solid $mainred;
      }
   }
}

.related-search{
   width: 100%;
   margin-top: 50px;
   border-top: 2px solid #ebebeb;
   padding-top: 5px;
   overflow: hidden;

   h2{
      font-size: 130%;
   }

   h5{
      text-transform: capitalize;
      text-align: left;
      font-family: $heading;
   }

   .related-box{
      padding: 10px 10px 10px 0px;
      width: 33.3%;
      float: left;
   }
}

footer{
   padding-top: 20px;
  background: #333333;
  color: #898D8E;
  padding-bottom: 20px;

  .footer-container{
    width:95%;
    min-height: 20%;
    margin-left: auto;
    margin-right: auto;
  }

  .footer-list{
    width:15%;
    padding:15px;
    float: left;
    position: relative;
    display: block;
    max-height: 100%;
  }

  .contact{
     width: 30%;
  }

  .footer-social{
     width: 30%;

     ul{
      margin:5%;
     }

     li{
        float: left;
        display: inline-block;
        margin-right: 5%;
        font-size: 120%;
        background: #fff;
        color: #333333;
        border-radius: 12.5px;
        -webkit-border-radius: 12.5px;
        -moz-border-radius: 12.5px;
        -o-border-radius: 12.5px;
        width:25px;
        height: 25px;
        text-align: center;
     }

     li:hover{
        background: $mainred;
     }
  }

  h3{
    color: #fff;
    text-transform: uppercase;
    margin-bottom:10px;
  }

  ul{

    li{
      // margin: 5px 0 5px 0px;
      font-size: 0.9em;
    }
    a{
      text-decoration: none;
      color:inherit;

      &:hover{
        color: #fff;
        font-weight: bold;
      }
    }
  }
}

.calendar-container{
   width:100%;
   position: relative;
   margin-bottom: 10px;
   margin-top: 10px;

   select, input{
      font-size: 120%;
      color: $mainred;
      font-weight: 700;
      // padding-left: 10px;
      // padding-right: 10px;
      border: none;
      float: left;
      margin: 5px;
      text-align: center;
   }

   input{
     width : 100px;
   }

   button{
     cursor: pointer;
   }

   i.fa-search{
      font-size: 15px;
      display: inline-block;
      vertical-align: middle;
      text-align: center;
   }

   button.left{
      padding:10px;
   }

   button{
      border-radius: 20px;

      background-color: $mainred;
      -webkit-box-shadow: none;
      box-shadow: none;
      border:none;
      padding:0;

      i{
         color: #fff;
         padding:5px;
         text-align: center;
         vertical-align: middle;
         display: inline-block;

      }
   }

   h2,i{
      float:left;
   }



   .calendar-ul{
      width:100%;
      vertical-align: middle;
      position: relative;
      padding-top:20px;
      padding-bottom:20px;

      li{
         float: left;
        //  height:200px;
      }

      li.thearrow{
         position: absolute;
         z-index: 200;
         height: 200px;
         bottom: 0;
         margin-bottom: -50px;

         .arrow-prev, .arrow-next{
            font-size: 40px;
            color:#fff;
            width:100%;

            i{
               display: inline-block;
               vertical-align: middle;
               text-align: center;
            }

            &:hover{
               color: $mainred;
            }
         }


      }



      .main-calendar{
         width: 100%;
         // display: none;
         transition: all 2s;
        -o-transition: all 2s;
        -moz-transition: all 2s;
        -webkit-transition: all 2s;


         ul li{
            width: 25%;
            height: 200px;
            position:relative;
            overflow: hidden;

            &:hover {
               .isi-calender{
                  background: rgba(0,0,0,0.5);

                  article{
                     display: block;
                  }

                  .calender-date{
                     background-color: $mainred;
                  }
               }
            }

               .isi-calender{
                  position:absolute;
                  width:100%;
                  height:100%;
                  z-index: 200;
                  //
                  // div{
                  //    float: left;
                  // }



                  .calender-date{
                     margin: 5px;
                     padding: 5px;
                     background-color: #000;
                     color: #fff;
                     font-weight: 700;
                     display: inline-block;
                  }

                  .tanggal-merah{
                     background-color: $mainred !important;
                  }

                  article{
                     display: none;
                     width:100%;

                     ul{
                        margin: 5px;

                        ol{
                           float:none;
                           width: inherit;
                           margin-bottom: 5px;
                           color: #fff;
                           list-style-type: circle;
                           font-weight: 700;
                        }
                     }

                     a{
                        text-decoration: none;
                        color: #fff;


                        &:hover{
                           color: $mainred;
                        }
                     }
                  }
               }


               .isi-calender img{
                  display: none;
               }

               img{

                  width:100%;
                  height:auto;
                  transition: all 2s;
                 -o-transition: all 2s;
                 -moz-transition: all 2s;
                 -webkit-transition: all 2s;
                 position: absolute;
               }

               &.selected img{
                  -webkit-filter:grayscale(100%);

               }

               &:hover{
                  img{
                     width:120%;
                  }
               }
         }
      }
   }
}

.article-container{
   position: relative;
   background: #fff;
   min-width: 90%;

   .flex-img{
      background-color: rgba(0, 0, 0, 1);
      width: 100%;
      height: 500px;
      position: absolute;

      img{
         opacity: 0.5;
         -webkit-filter:grayscale(100%);
         width: 100%;
      }
   }

   .fill-article{
      background: #fff;
      position:relative;
      margin-top: 100px;
      box-sizing: border-box;
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;

      img, iframe{
         width:100%;
         height: auto;
         text-align: center;
      }

      img{
         padding-bottom:10px;
      }

      article, aside{
         float: left;
      }

      a{
         text-decoration: none;
         color: $mainred;
         cursor: pointer;
      }

      article{
         width: 60%;
         padding: 20px 20px 40px 20px;


         h1{
            font-size: 200%;
             font-weight: 700;
             line-height: 1;
             text-transform: uppercase;
             margin-bottom: 15px;
         }

         p{
            margin-bottom: 5px;
         }

         li, ul{
            list-style: inherit !important;
         }



      }

      strong, .tanggal{
         font-weight: 700;
         color: #fff;
         font-size: 110%;
      }

      aside{
         width: 40%;
         padding: 10px;
         background: #2F3541;
         color: #bebebe;
         top: 0;
         bottom: 0;
         position: absolute;
         right: 0;

         li{
            margin-top: 10px;
            border-bottom: 1px solid #454D5D;
            padding-bottom: 5px;
            width: 100%;

            &.barcode{
               text-align: center;
               display: inline-block;
               vertical-align: middle;

               img{
                  width: 100px;
               }
            }
         }
      }
   }
}

.share-button{
   li{
      float: left;
      margin: 10px 10px 10px 0px;
      color: #fff;
      font-weight: 700;

      i{
         padding: 10px;
         border-right: 1px solid #bebebe;
      }

      span{
         padding: 10px;
      }
   }

   .fesbuk{
      background: #3b5998;

      &:hover{
         background: #1E3565;
      }
   }

   .twider{
      background: #4099FF;

      &:hover{
         background: #1D589B;
      }
   }
}

.active-menu{
   color: $mainred;
   font-weight: 700;
}



.about-us{
  background: #F44336;
  padding-top: 120px;
  color: #e0e0e0;
  font-size: 110%;
  display: none;

  h2, h3{
    color: #fff;
    text-transform: uppercase;
  }

  h2{
    font-size: 200%;
  }

  h3{
    font-size: 150%;
  }

  ul {
    padding-bottom: 20px;

      .maps{
        width:100%;

        iframe{
          width: 100%;
        }
      }

      li {
      width: 50%;
      float: left;
      padding: 20px;

      &:nth-child(2){
        border-left: 1px solid #e0e0e0;
      }

      p{
        padding-top: 10px;
      }

    }
  }
}

.search-submission{
   margin-top: 50px;
   margin-bottom: 20px;
   color: $mainred;

   div{
      overflow: hidden;
   }

   h3{
      font-size: 150%;
      font-weight: 700;
   }

   .div-head{
      border-bottom: 2px solid $mainred;
      padding-bottom: 20px;
   }

   .search-button{

      input{
         margin-top: 10px;
         padding: 5px;
         border-radius: 5px;
         width: 90%;
         border: 1px solid #bebebe;
      }
   }

   .result-bar, .aside-bar{
      float: left;
      margin-top: 50px;
   }

   .result-bar{


      width: 70%;
      border-right: 1px solid #ebebeb;
      padding-right: 10px;


      .div-box{
         margin-top: 20px;
         border-bottom: 2px dotted #ebebeb;
         padding-bottom: 20px;

         h5{
            background: $mainred;
            color: #fff;
            font-weight: 700;
            padding: 5px;
            display: inline-block;
         }

         h2{
            text-transform: uppercase;
            font-size: 180%;
            width: 100%;
            margin-bottom: 20px;
         }


         .div-img{
            float: left;
            width: 30%;


            img{
               width:100%;
            }
         }
      }

      .div-info{
         padding: 0 10px;
         float: left;
         width: 70%;
         color: #000;
         text-align: justify;

         a.read-more{
            text-align: right;
            display: inherit;
            color: $mainred;
         }

      }
   }

   .aside-bar{
      width:30%;
      padding: 10px;


      .aside-box{
         margin-bottom: 20px;
         padding-bottom: 10px;
         border-bottom: 1px solid #ebebeb;

         h2{
            margin-bottom: 0px;
         }
      }

      h2{
         text-transform: uppercase;
         font-size: 180%;
         width: 100%;
         margin-bottom: 20px;
      }

      h5{
         background: $mainred;
         color: #fff;
         font-weight: 700;
         padding: 5px;
         display: inline-block;
      }

      img{
         width: 100%;
      }

   }
}


@media only screen and (min-width:0px) and (max-width:786px){

   .calendar-container .calendar-ul .main-calendar li{
         width: 100%;
         float:none;
      }

      .menu-toggle{
        display: block;
      }

      body{
         width:100%;
         height:100%;
      }

      .article-container .fill-article{

         article,aside{
            float: none;
         }

         article{
            width:100%;
         }

         aside{
            position:relative;
            width:100%;
         }
      }

      .main-width{
         max-width: 100%;
         width:100%;
      }

      .activated{
         height:100% !important;
      }

      .straight-menu{
         display: none;
      }

      .calendar-container .calendar-ul .main-calendar {
        // height: 100%;


        ul li {
        width: 100%;
        height: 344px;
        float:none;
        }
      }

      section.slide-wrapper {
         .ninja-wrap{
         max-width: 100%;
         height: 500px;

            .slide{
               background-size: 1350px 500px;
               height: 500px;


               section.row .slide-copy{
               width:100%;
               bottom:0;
               position:absolute;
               padding-top: 0;
               padding:15px;
               left:0;
               background: rgba(0,0,0,0.5);
               margin: 0;

                  article{
                     width:95%
                  }
               }

            }
      }

      .slider-nav{
         top:0;

         li{
            width: 20px;
            height: 50px;
            float: none;
         }

      }
   }

   section.slide-wrapper .slider-nav .dot{
      font-size: 120%;
   }



      header.navigation{
         display: none;
      }

      section.bodywrapper .main-menu .main-menu-wrapper{
         width:100%;
         height: 344px;



         .div-img-bg{
            background-size: auto 100%;
         }

         article{

            vertical-align: middle;
            display: inline-block;
            text-align: center;

            h1{
               font-size: 30px;
            }

            p{
               font-size: 16px;
            }
         }
      }

      footer{
         .footer-list, .footer-social{
            width: 100%;
         }
      }


}
