.article-container {
   position: relative;
   background: #fff;
   min-width: 90%;
   overflow: hidden;
}

.flex-img {
   background-color: black;
   width: 100%;
   height: 500px;
   position: absolute;
   overflow: hidden;
}

.flex-img img {
   opacity: 0.5;
-webkit-filter: grayscale(100%);
width: 100%;
}

.fill-article {
   background: #fff;
    position: relative;
    margin-top: 100px;
    box-sizing: border-box;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    overflow: hidden;
}

.main-width {
   max-width: 70%;
margin-left: auto;
margin-right: auto;
}

.fill-article article {
   width: 60%;
padding: 20px 20px 40px 20px;
float: left;
overflow: hidden;
}

.fill-article img {
       padding-bottom: 10px;
       width: 100%;
}

.fill-article aside {
   width: 40%;
padding: 10px;
background: #2F3541;
color: #bebebe;
top: 0;
bottom: 0;
position: absolute;
right: 0;
overflow: hidden;
}

.fill-article aside ul {
   overflow: hidden;
   list-style: none;
   overflow: hidden;
}

.fill-article aside ul li {
   text-align: justify;
margin-top: 10px;
border-bottom: 1px solid #454D5D;
padding-bottom: 5px;
width: 100%;
overflow: hidden;
}

.fill-article .tanggal {
   font-weight: 700;
color: #fff;
font-size: 110%;
overflow: hidden;
}

.hiccup-back-overlay-child{
   width: 80%;


}

.article-container *{
   box-sizing: border-box;
   -moz-box-sizing: border-box;
   -webkit-box-sizing: border-box;
   -o-box-sizing: border-box;
}

.article-container div, .article-container ul, .article-container nav, .article-container aside{
   overflow: hidden;
   box-sizing: border-box;
   -moz-box-sizing: border-box;
   -webkit-box-sizing: border-box;
   -o-box-sizing: border-box;
}



#map {
   width: 405px;
height: 205px;
}

li.barcode {
   text-align: center;
display: inline-block;
vertical-align: middle;
}

.barcode img {
       width: 100px;
}
