@import "component-style.css";
@import "graph-style.css";
@import "icon-style.css";

html, body {
   min-width: 100%;
   min-height: 100%;
   padding: 0px;
   margin: 0px;
   font-family: Helvetica, Arial, sans-serif;
   position: relative;
}

/*header section*/

header.page-header {
   width: 100%;
   height: 62px;
   padding: 10px 30px;
   background: #2a2e36;
   box-sizing: border-box;
   -moz-box-sizing: border-box;
   /*position: absolute;*/
   z-index: 2;
   position: relative;
}

header .button {
   /*display: inline-block;
   color: white;
   background-color: #3f4551;*/
   font-size: 0.75em;
   padding-left: 10px;
   box-sizing: border-box;
   -moz-box-sizing: border-box;
}

header .button:hover {
   /*background-color: #5d6677 !important;*/
}

header .bracket {
   display: inline-block;
   height: 38px;
   width: 1px;
   border-right: 1px solid #3f4551;
   margin-right: 0.625em;
   margin-left: 0.625em;
}

 /*-- end header section */

/* page title */

.page-title {
   padding: 20px 20px;
   box-sizing: border-box;
}

.page-title .title {
   min-height: 45px;
   display: table;
}

.page-title > h1 {
   text-transform: uppercase;
}

.page-title .title h2 , .page-title .title h6 {
   margin: 0;
   font-weight: normal;
}

.page-title .title h6 {
   color: #bebebe;
}

/* -- end page title -- */

/*sidebar section*/

#sidebarCheck:checked + label {
   left: 200px;
   background: #FB7D7D;
}

#sidebarCheck:checked ~ .sidebar {
   left: 0px;
}

#sidebarCheck:checked + label .inside-sidebar-button:after {
   -ms-transform: rotate(45deg); /* IE 9 */
   -webkit-transform: rotate(45deg); /* Chrome, Safari, Opera */
   transform: rotate(45deg);
   bottom: 10px;
   border-color: white;
}

#sidebarCheck:checked + label .inside-sidebar-button:before {
   -ms-transform: rotate(-45deg); /* IE 9 */
   -webkit-transform: rotate(-45deg); /* Chrome, Safari, Opera */
   transform: rotate(-45deg);
   top: 10px;
   border-color: white;
}

#sidebarCheck:checked + label .inside-sidebar-button .line-button {
   left: 23px;
}

.sidebar-button {
   display: none;
   width: 23px;
   height: 23px;
   position: absolute;
   background-color: #7E7D84;
   top: 62px;
   left: 0px;
   transition: 1s;
   padding: 5px;
   cursor: pointer;
   z-index: 1;
}

.line-button , .inside-sidebar-button:after , .inside-sidebar-button:before {
   width: 23px;
   height: 2px;
   display: block;
   border-top: 2px solid #fff;
   position: absolute;
}

.line-button {
   top:10px;
   left: 0px;
}

.inside-sidebar-button:after {
   content: '';
   bottom: 4px;
}

.inside-sidebar-button:before {
   content: '';
   top: 5px;
}

.inside-sidebar-button {
   width: inherit;
   height: inherit;
   overflow: hidden;
}

.sidebar {
   width: 200px;
   background-color: #FFFFFF;
   position: absolute;
   box-sizing: border-box;
   -moz-box-sizing: border-box;
   z-index: 1;
   padding-top: 62px;
   border-right: 2px solid #eeefef;
   top: 0px;
   min-height: 100%; /*make height based from web height */
   left: 0px;
}

.sidebar > ul {
   list-style: none;
   padding: 0;
   margin: 0;
}

.sidebar > ul > li {
   font-size: 10pt;
   width: 100%;
   box-sizing: border-box;
   -moz-box-sizing: border-box;
}

.sidebar > ul > li > a {
   padding: 15px;
   display: block;
   text-decoration: none;
   color:black;
}

.sidebar > ul > li.active , .sidebar > ul> li:hover{
   /*border-left: 4px solid #BD81FF;*/
   border-left: 4px solid #FB7D7D;
   background-color: #F9F7F7;
}

.sidebar > ul > li.active > a , .sidebar > ul > li:hover > a {
   color: #FB7D7D;
}
/*end sidebar section*/

/*content section*/

section.main {
   /*top: 62px;*/
   position: relative;
   overflow: hidden;
   display: block;
   width: 100%;
   box-sizing: border-box;
   -moz-box-sizing: border-box;
}

.content {
   background: #f8f9fa url('../img/artwork-pattern.png') repeat-x left bottom;
   /*border: 1px solid #eeefef;*/
   padding: 1.875em 0;
   text-align: center;
}

.container {
   display: inline-block;
   text-align: left;
   overflow: hidden;
   width: -moz-max-content;
   width: -webkit-max-content;
   vertical-align: top;
   margin: 10px;
}

.pagination{
   text-align: right;
}

.pagination a{
   padding: 5px;
   text-decoration: none;
   color: red;
}

.max-width{
   width: 90% !important;
}

.header-content-manager {
   padding: 0px 5px 5px 20px;
   width: 95%;
   min-height: 32px;
    /* margin-left: 2.5%; */
    /* border-bottom: 1px solid #bbb; */
}

.button-manager {
   display: inline-block;
}

.button-manager-ic {
   border: 2px #333333 solid;
   border-radius: 50%;
   width: 27px;
   height: 27px;
   display: inline-block;
   padding-top: 4px;
   overflow: hidden;
   margin-right: 5px;
   box-sizing: border-box;
   color: #333333;
   cursor: pointer;
   vertical-align: top;
   background-color: white;
}

.button-manager-ic:hover {
   border: 2px #FB7D7D solid;
   color: #FB7D7D;
   opacity: 0.8;
}

.button-manager > .select-description {
   padding: 4px;
   display: inline-block;
   overflow: hidden;
   font-size: 15px;
   color: #858484;
}

.sorting-manager > span {
   padding: 5px;
   margin-left: 5px;
   display: inline-block;
   border-radius: 5px;
   cursor: pointer;
}

.sorting-manager > span > a {
   color: black;
   text-decoration: none;
}

.sorting-manager > span.active , .sorting-manager > span:hover {
   background-color: #FB7D7D;
}

.sorting-manager > span.active > a , .sorting-manager > span:hover > a {
   color: white;
}

.title-container {
   font-weight: bold;
   /*color: #7DAFFB;*/
   color: #FB7D7D;
}

.gallery-col {
   width: 220px;
   background: white;
   text-align: center;
   padding-top: 10px;
   cursor: pointer;
   color: #605F5F;
}

.gallery-col:hover , .slider-col:hover , .checkbox-gallery:checked + label {
   background: #9E9E9E;
   color: white;
}

.gallery-pict-crop {
   width: 90%;
   text-align: center;
   overflow: hidden;
   display: inline-block;
}

.gallery-pict-crop img {
   height: 200px;
   position: relative;
   left: 100%;
   margin-left: -200%;
}

.gallery-description {
   padding: 10px;
   text-align: left;
   word-wrap: break-word;
   font-size: 13px;
}

.slider-col {
   width: 370px;
   background: white;
   text-align: center;
   padding-top: 10px;
   cursor: pointer;
   color: #605F5F;
}

.slider-pict-crop {
   width: 95%;
   text-align: center;
   overflow: hidden;
   display: inline-block;
}

.slider-pict-crop img {
   height: 220px;
   position: relative;
   left: 100%;
   margin-left: -200%;
}

.form {
   background: white;
   position: relative;
   padding: 10px;
   width: 90%;
}

.table-form {
   width: 100%;
}

.table-form tr > td {
   padding: 15px 5px 15px 5px;
   vertical-align: middle;
}

.label-form {
   font-size: 13px;
   color: #7B7A7A;
   text-transform: uppercase;
}

.form-option-icon {
   display: inline-block;
   border-radius: 50%;
   width: 40px;
   height: 40px;
   text-align: center;
   margin-right: 10px;
   cursor: pointer;
   position: relative;
}

.back-effect {
   position: absolute;
   width: 0;
   height: 0;
   top: 50%;
   left: 50%;
   display: block;
   border-radius: 50%;

   transition: all 0.3s;
   -moz-transition: all 0.3s;
   -ms-transition: all 0.3s;
   -o-transition: all 0.3s;
   -webkit-transition: all 0.3s;
   background-color: #FB7D7D;
}

.input-category:checked + label {
   color: white;
}

.input-category:checked + label > .back-effect{
   background-size: 100% 100%;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
}

.form-option-icon > i {
   position: relative;
   top: 50%;
   -webkit-transform: translateY(-50%);
   -ms-transform: translateY(-50%);
   transform: translateY(-50%);
}

.input-data {
   padding: 5px;
}

.input-data[type="text"]:read-only {
   background-color: #F0F0F0;
   border: solid 1px #bbb;
}

.button-choose-picture {
   background: #FB7D7D;
   border: none;
   color: white;
   padding: 6px;
}

.content > article {
   margin: 0;
   padding: 10px;
}

.has-sidebar {
   padding-left: 200px;
}

.recent-activity {
   background: white;
   padding: 10px;
   font-size: 13pt;
   line-height: 30px;
   color: #676767;
   max-width: 500px;
   min-height: 225px;
}

.recent-activity li {
   margin-left: 25px;
}

table.table-content {
   width: 100%;
   border-collapse: collapse;
   border: 1px solid #bbb;
   text-align: center;
   /*color: #767676;*/
}

table.table-content th {
   background-color: #2A2E36;
   color: white;
}

table.table-content th , table.table-content td {
   padding: 10px;
}

table.table-content td {
   font-size: 11pt;
   color: #504F4F;
   border: 1px solid #bbb;
}

table.table-content tr:nth-child(2n+1) {
   background-color: #fff;
}
/*-- end content section */

/*form and input style*/

input.input-default {
   padding: 10px 0px;
   border: 0;
   border-bottom: 1px solid #F8F9FA;
   font-size: 15px;
   box-sizing: border-box;
}

input.input-default:focus {
   outline: 0;
   border-bottom: 1px solid blue;
   animation: scale-border 1s;
}

input.input-hide {
   padding: 10px 0 10px 0;
   background-color: inherit;
   font-weight: bold;
   border: none;
   border-bottom: 1px solid #bebebe;
}

input.input-hide:focus {
   background-color: white;
   font-weight: normal;
   padding: 10px;
   border: 1px solid #bebebe;
}

.box-message {
   width: 270px;
   padding: 10px 5px;
   display: block;
   margin: 10px auto;
   background-color: #e5f5f9;
   border:1px solid #cae0e5;
   color: #5a9bab;
   font-size: 0.75em;
}

/*enf form and input style*/

/*footer*/
footer {
   color: #bebebe;
   text-align: center;
   font-size: 0.75em;
   margin-top: 20px;
   position: relative;
   overflow: hidden;
   /*bottom: 0px;*/
   /*width: 100%;*/
}
/*end of footer*/

section.main {
   transition: 1s ease-in-out;
   -webkit-transition: 1s ease-in-out;
   -moz-transition: 1s ease-in-out;
   -o-transition: 1s ease-in-out;
}

section.sidebar ,
.sidebar-button ,
.line-button ,
.inside-sidebar-button:after ,
.inside-sidebar-button:before  {
   transition: 0.5s ;
   -webkit-transition: 0.5s ;
   -moz-transition: 0.5s ;
   -o-transition: 0.5s ;
}
