html, body {
   min-width: 100%;
   min-height: 100%;
   padding: 0px;
   margin: 0px;
   font-family: Helvetica, Arial, sans-serif;
}


/*header section*/

header.page-header {
   width: 100%;
   padding: 10px 30px;
   background: #2a2e36;
   box-sizing: border-box;
}

header .button {
   /*display: inline-block;
   color: white;
   background-color: #3f4551;*/
   font-size: 0.75em;
   padding-left: 10px;
}

header .button:hover {
   /*background-color: #5d6677 !important;*/
}

header .bracket {
   display: inline-block;
   height: 38px;
   width: 1px;
   border-right: 1px solid #3f4551;
   margin-right: 0.625em;
   margin-left: 0.625em;
}

 /*-- end header section */

/* page title */

.page-title {
   padding: 30px 20px;
   box-sizing: border-box;
}

.page-title > .title {
   padding-left: 60px;
   min-height: 45px;
   display: table;
}

.page-title > h1 {
   text-transform: uppercase;
}

.page-title > .title h3 , .page-title > .title h6 {
   margin: 0;
   font-weight: normal;
}
.page-title > .title h6 {
   color: #bebebe;
}

/* -- end page title -- */

/*content section*/

.content {
   background: #f8f9fa url('../img/artwork-pattern.png') repeat-x left bottom;
   border: 1px solid #eeefef;
   padding: 1.875em 0;
}
/*-- end content section */

/*form and input style*/

input.input-default {
   padding: 10px 0px;
   border: 0;
   border-bottom: 1px solid #F8F9FA;
   font-size: 15px;
   box-sizing: border-box;
}

input.input-default:focus {
   outline: 0;
   border-bottom: 1px solid blue;
   animation: scale-border 1s;
}

input.input-hide {
   padding: 10px 0 10px 0;
   background-color: inherit;
   font-weight: bold;
   border: none;
   border-bottom: 1px solid #bebebe;
}

input.input-hide:focus {
   background-color: white;
   font-weight: normal;
   padding: 10px;
   border: 1px solid #bebebe;
}

.box-message {
   width: 270px;
   padding: 10px 5px;
   display: block;
   margin: 10px auto;
   background-color: #e5f5f9;
   border:1px solid #cae0e5;
   color: #5a9bab;
   font-size: 0.75em;
}

/*enf form and input style*/

/*footer*/
footer {
   color: #bebebe;
   text-align: center;
   font-size: 0.75em;
   margin: 20px auto;
}
/*end of footer*/

/*component */
.round {
   background: #FFB400;
   border-radius: 20px;
   width: 40px;
   height: 40px;
   display: inline-block;
   float: left;
}

.left-arrow-icon {
   background-image: url('../img/icons/ic_left.png');
   background-repeat: no-repeat;
}

.right-arrow-icon {
   background-image: url('../img/icons/ic_right.png');
   background-repeat: no-repeat;
}

.lock-icon {
   background-image: url('../img/icons/ic_lock.png');
   background-repeat: no-repeat;
}

.login-icon {
   background-image: url('../img/icons/login-icon.png');
   background-repeat: no-repeat;
}

.image-left {
   background-position: 0.833em center;
}

.image-center {
   background-position: center;
}

.image-right {
   background-position: right;
}

.middle {
   display: table-cell;
   vertical-align: middle;
}

.center {
   margin-left: auto;
   margin-right: auto;
}

.fit-content {
   width: intrinsic;           /* Safari/WebKit uses a non-standard name */
   width: -moz-max-content;    /* Firefox/Gecko */
   width: -webkit-max-content; /* Chrome */
}

.box-form {
   padding: 0 15px;
   background-color: white;
   border: 1px solid #EFEFEF;
}

.button-blue {
   border: 0;
   padding: 10px;
   box-sizing: border-box;
   width: 100%;
   background-color: #8185C7;
   color: white;
}
