
/*component */

.button-default {
   background-color: #8C8B8B;
}

.button-danger {
   background-color: #D06565;
}

.button-default, .button-danger {
   display: inline-block;
   width: 20px;
   height: 20px;
   border-radius: 2px;
   background-size: 14px;
   vertical-align: middle;
   cursor: pointer;
}

.button-default:hover , .button-danger:hover {
   opacity: 0.5;
}

.round {
   background: #FFB400;
   border-radius: 20px;
   width: 40px;
   height: 40px;
   display: inline-block;
   float: left;
}

.middle {
   display: table-cell;
   vertical-align: middle;
}

.center {
   margin-left: auto;
   margin-right: auto;
}

.float-right {
   float: right;
}

.fit-content {
   width: intrinsic;           /* Safari/WebKit uses a non-standard name */
   width: -moz-max-content;    /* Firefox/Gecko */
   width: -webkit-max-content; /* Chrome */
}

.box-form {
   padding: 0 15px;
   background-color: white;
   border: 1px solid #EFEFEF;
   text-align: left;
}

.button-blue {
   border: 0;
   padding: 10px;
   box-sizing: border-box;
   width: 100%;
   background-color: #8185C7;
   color: white;
}

.relative {
   position: relative;
}

.block {
   display: block;
}

.table {
   display: table;
}

.table-cell {
   display: table-cell;
}

.display-none {
   display: none;
}

.float-left {
   float: left;
}

.float-right {
   float: right;
}

.vertical-align-bottom {
   vertical-align: bottom !important;
}

.vertical-align-top {
   vertical-align: top !important;
}

.overflow-visible {
   overflow: visible !important;
}

.danger-back-color {
   background-color: #E84C3D !important;
   border-color: #E84C3D !important;
}

.success-back-color {
   background-color: #53AA50 !important;
   border-color: #53AA50 !important;
}
