az-chart > az-bar > .graph-front {
   display: block;
   background-color: #FB7D7D;
   width: 30px;
   position: absolute;
   bottom: 20px;
   text-align: center;
   box-sizing: border-box;
   -moz-box-sizing: border-box;
   -webkit-box-sizing: border-box;
   -o-box-sizing: border-box;
   overflow: hidden;
   padding-top: 10px;
   color: white;
   font-size: 10px;
   transition: 1s ;
   -webkit-transition: 1s;
   -moz-transition: 1s ;
   -o-transition: 1s ;
}

az-chart > az-bar > .graph-back {
   display: block;
   background-color: #EFEFEF;
   width: 30px;
   position: absolute;
   height: 200px;
}

az-chart > az-bar > label {
   position: absolute;
   bottom: 0px;
   font-size: 12px;
   color: #8C7676;
   text-align: center;
   display: block;
   width: 100%;
}

az-chart > az-bar {
   display: inline-block;
   position: relative;
   height: 220px;
   width: 30px;
   margin: 0 8px;
}
