/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 5, ../../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 17, ../sass/screen.scss */
* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}

/* line 22, ../sass/screen.scss */
body {
  max-width: 1824px;
  width: 100%;
  left: 0;
  height: 100%;
  font-weight: 400;
  position: relative;
  margin: 0 auto;
  color: #565a5c;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  line-height: 1.43;
}

/* line 38, ../sass/screen.scss */
ul, nav {
  overflow: hidden;
}

/* line 42, ../sass/screen.scss */
body#home {
  background-color: #f5f5f5;
}

/* line 46, ../sass/screen.scss */
body#calendar {
  background-color: #fff;
}
/* line 54, ../sass/screen.scss */
body#calendar .hiccup-back-overlay-child {
  min-height: 80%;
  min-width: 90%;
}
/* line 59, ../sass/screen.scss */
body#calendar #map {
  width: 405px;
  height: 205px;
}
/* line 64, ../sass/screen.scss */
body#calendar .article-container, body#calendar .flex-img, body#calendar .fill-article {
  overflow: hidden;
}

/* line 70, ../sass/screen.scss */
.icon-close i {
  position: absolute;
  right: 0;
  margin: 10px;
  font-size: 150%;
}

/* line 78, ../sass/screen.scss */
.straight-menu {
  background: #fff;
  width: 100%;
  position: relative;
  margin-bottom: 10px;
  overflow: hidden;
}
/* line 85, ../sass/screen.scss */
.straight-menu header.navigation {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

/* line 94, ../sass/screen.scss */
#mobile-menu {
  width: 50%;
  left: -50%;
  position: fixed;
  top: 0;
  bottom: 0;
  z-index: 400;
  background-color: #fff;
  padding: 0px;
}
/* line 104, ../sass/screen.scss */
#mobile-menu img {
  max-width: 80%;
  height: auto;
}
/* line 109, ../sass/screen.scss */
#mobile-menu li {
  padding: 10px;
  border-bottom: 1px solid #bebebe;
  overflow: hidden;
}
/* line 116, ../sass/screen.scss */
#mobile-menu a {
  color: #B5B5B5;
  text-decoration: none;
  font-size: 200%;
}
/* line 122, ../sass/screen.scss */
#mobile-menu a:hover {
  color: #cc000d;
}
/* line 126, ../sass/screen.scss */
#mobile-menu .mobile-search {
  margin-right: 5px;
}
/* line 129, ../sass/screen.scss */
#mobile-menu .mobile-search input {
  border: 1px solid #bebebe;
  border-radius: 5px;
}
/* line 136, ../sass/screen.scss */
#mobile-menu .mobile-sc {
  width: 100%;
  margin: 0 auto;
}
/* line 141, ../sass/screen.scss */
#mobile-menu .social-icon {
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  width: 100%;
}
/* line 147, ../sass/screen.scss */
#mobile-menu .social-icon a {
  margin-right: 10px;
}

/* line 155, ../sass/screen.scss */
header li {
  font-weight: 400;
  line-height: 1.43;
}

/* line 161, ../sass/screen.scss */
h1, h2, h3 {
  font-family: "Montserrat", sans-serif;
}

/* line 165, ../sass/screen.scss */
.rights {
  float: left;
}

/* line 169, ../sass/screen.scss */
.left {
  float: right;
}

/* line 173, ../sass/screen.scss */
header {
  padding: 10px;
}

/* line 177, ../sass/screen.scss */
.main-width {
  max-width: 70%;
  margin-left: auto;
  margin-right: auto;
}

/* line 186, ../sass/screen.scss */
header.navigation {
  background-color: #fff;
}

/* line 191, ../sass/screen.scss */
#calendar .menu-toggle {
  color: #F44336;
  float: right;
  right: 0;
  left: auto;
  z-index: 200;
  height: 40px;
}
/* line 200, ../sass/screen.scss */
#calendar .menu-toggle i {
  color: #F44336;
}

/* line 205, ../sass/screen.scss */
.menu-toggle {
  border: 1px solid #fff;
  display: none;
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 5px;
  color: #fff;
  margin: 10px;
  padding: 5px;
  font-size: 150%;
  background: none;
}
/* line 219, ../sass/screen.scss */
.menu-toggle i {
  color: #fff;
  text-decoration: none;
}

/* line 225, ../sass/screen.scss */
.menu-mobile {
  position: fixed;
  border: 1px solid #F44336;
  color: #F44336;
  height: 50px;
}

/* line 233, ../sass/screen.scss */
.floatok {
  float: left;
  height: 100%;
}

/* line 241, ../sass/screen.scss */
header.navigation {
  position: absolute;
  display: inline-block;
  margin: 0 auto;
  left: 0;
  right: 0;
  width: 70%;
  min-height: 3%;
  z-index: 1;
}
/* line 252, ../sass/screen.scss */
header.navigation .logo {
  height: auto;
  width: 19%;
  padding: 0.5%;
  border-right: 1px solid #B5B5B5;
}
/* line 258, ../sass/screen.scss */
header.navigation .logo img {
  width: 100%;
  height: auto;
}
/* line 265, ../sass/screen.scss */
header.navigation nav {
  width: 79%;
  overflow: hidden;
  color: #B5B5B5;
  font-weight: 700;
}
/* line 272, ../sass/screen.scss */
header.navigation nav a {
  color: #B5B5B5;
  text-decoration: none;
}
/* line 277, ../sass/screen.scss */
header.navigation nav a:hover {
  color: #cc000d;
}
/* line 281, ../sass/screen.scss */
header.navigation nav ul {
  margin: 0.5%;
  font-size: 100%;
}
/* line 288, ../sass/screen.scss */
header.navigation nav .ul-wrapper {
  margin-top: 2%;
}
/* line 292, ../sass/screen.scss */
header.navigation nav .left-ul {
  width: 69%;
  font-weight: 700;
}
/* line 296, ../sass/screen.scss */
header.navigation nav .left-ul li {
  float: left;
  margin-left: 3%;
}
/* line 304, ../sass/screen.scss */
header.navigation nav .right-ul {
  position: relative;
  width: 29%;
  text-align: right;
  transition: all 2s;
  -o-transition: all 2s;
  -moz-transition: all 2s;
  -webkit-transition: all 2s;
}
/* line 313, ../sass/screen.scss */
header.navigation nav .right-ul li {
  margin-right: 15%;
  position: relative;
  float: right;
}
/* line 318, ../sass/screen.scss */
header.navigation nav .right-ul li ul {
  position: absolute;
}
/* line 325, ../sass/screen.scss */
header.navigation nav .searchbar {
  display: none;
}
/* line 328, ../sass/screen.scss */
header.navigation nav .searchbar input {
  border-radius: 5px;
  border: 1px solid #ebebeb;
}
/* line 334, ../sass/screen.scss */
header.navigation nav .fa-search:hover .searchbar {
  width: 100%;
}

/* line 342, ../sass/screen.scss */
section.slide-wrapper {
  position: relative;
}
/* line 345, ../sass/screen.scss */
section.slide-wrapper .ninja-wrap {
  max-width: 100%;
  height: 680px;
}
/* line 349, ../sass/screen.scss */
section.slide-wrapper .ninja-wrap .slider-cont {
  position: relative;
}
/* line 353, ../sass/screen.scss */
section.slide-wrapper .ninja-wrap .slide {
  width: 100%;
  height: 680px;
  position: absolute;
  display: none;
}
/* line 360, ../sass/screen.scss */
section.slide-wrapper .ninja-wrap .slide section.row {
  padding-top: 15vw;
  background-color: transparent;
  margin: 0 auto;
}
/* line 365, ../sass/screen.scss */
section.slide-wrapper .ninja-wrap .slide section.row .slide-copy {
  width: 40%;
  margin: 10px;
}
/* line 369, ../sass/screen.scss */
section.slide-wrapper .ninja-wrap .slide section.row .slide-copy h1 {
  font-weight: 700;
  margin-bottom: 10px;
  font-size: 3vw;
  color: #F44336;
}
/* line 376, ../sass/screen.scss */
section.slide-wrapper .ninja-wrap .slide section.row .slide-copy p {
  color: #fff;
  text-align: justify;
}
/* line 385, ../sass/screen.scss */
section.slide-wrapper .slider-nav {
  text-align: center;
  position: absolute;
  bottom: 0;
  margin-bottom: 10px;
  font-size: 25px;
  font-weight: 700;
}
/* line 393, ../sass/screen.scss */
section.slide-wrapper .slider-nav .slider-nav-wrapper {
  display: inline-block;
}
/* line 397, ../sass/screen.scss */
section.slide-wrapper .slider-nav a, section.slide-wrapper .slider-nav ul, section.slide-wrapper .slider-nav li {
  float: left;
}
/* line 401, ../sass/screen.scss */
section.slide-wrapper .slider-nav li {
  margin: 5px;
  display: inline-block;
}
/* line 411, ../sass/screen.scss */
section.slide-wrapper .slider-nav a i {
  color: #ebebeb;
}
/* line 416, ../sass/screen.scss */
section.slide-wrapper .slider-nav .dot {
  color: #bebebe;
}
/* line 420, ../sass/screen.scss */
section.slide-wrapper .slider-nav .activedot {
  color: #F44336;
}
/* line 424, ../sass/screen.scss */
section.slide-wrapper .slider-nav .activeslide {
  display: block;
}

/* line 430, ../sass/screen.scss */
.activeevent {
  display: block;
}

/* line 434, ../sass/screen.scss */
.tagline {
  padding: 10px;
}

/* line 442, ../sass/screen.scss */
section.bodywrapper .main-menu ul, section.bodywrapper .main-menu li {
  float: left;
}
/* line 446, ../sass/screen.scss */
section.bodywrapper .main-menu li {
  width: 33.3%;
  height: 20%;
}
/* line 451, ../sass/screen.scss */
section.bodywrapper .main-menu .main-menu-wrapper {
  height: 20vw;
  float: left;
  width: 33.3%;
  position: relative;
  background: #000;
}
/* line 458, ../sass/screen.scss */
section.bodywrapper .main-menu .main-menu-wrapper a {
  text-decoration: none;
}
/* line 462, ../sass/screen.scss */
section.bodywrapper .main-menu .main-menu-wrapper article {
  margin: 15%;
  padding: 2%;
  text-align: center;
  vertical-align: middle;
  color: #fff;
  border: 2px solid #fff;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1;
  position: relative;
}
/* line 476, ../sass/screen.scss */
section.bodywrapper .main-menu .main-menu-wrapper article h1 {
  font-weight: 700;
  font-size: 2vw;
  margin: 5px;
}
/* line 482, ../sass/screen.scss */
section.bodywrapper .main-menu .main-menu-wrapper article p {
  font-size: 1vw;
}
/* line 491, ../sass/screen.scss */
section.bodywrapper .main-menu .main-menu-wrapper .inner-ninja {
  background: rgba(0, 0, 0, 0.5);
  overflow: hidden;
}
/* line 495, ../sass/screen.scss */
section.bodywrapper .main-menu .main-menu-wrapper .inner-ninja .div-img-bg {
  -webkit-filter: grayscale(80%);
  transition: all 2s;
  -o-transition: all 2s;
  -moz-transition: all 2s;
  -webkit-transition: all 2s;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: bottom;
  opacity: 0.7;
  width: 100%;
  height: 100%;
  position: absolute;
  display: inline-block;
}
/* line 515, ../sass/screen.scss */
section.bodywrapper .main-menu .main-menu-wrapper:hover .div-img-bg {
  -webkit-filter: none;
  background-size: 120% 120%;
  opacity: 0.9;
}
/* line 521, ../sass/screen.scss */
section.bodywrapper .main-menu .main-menu-wrapper:hover article {
  background-color: #F44336;
  color: #fff;
  border: 2px solid #F44336;
}

/* line 529, ../sass/screen.scss */
.related-search {
  width: 100%;
  margin-top: 50px;
  border-top: 2px solid #ebebeb;
  padding-top: 5px;
}
/* line 535, ../sass/screen.scss */
.related-search h2 {
  font-size: 130%;
}
/* line 539, ../sass/screen.scss */
.related-search h5 {
  text-transform: capitalize;
  text-align: left;
  font-family: "Montserrat", sans-serif;
}
/* line 545, ../sass/screen.scss */
.related-search .related-box {
  padding: 10px 10px 10px 0px;
  width: 33.3%;
  float: left;
}

/* line 552, ../sass/screen.scss */
footer {
  padding-top: 20px;
  background: #333333;
  color: #898D8E;
  padding-bottom: 20px;
}
/* line 558, ../sass/screen.scss */
footer .footer-container {
  width: 95%;
  min-height: 20%;
  margin-left: auto;
  margin-right: auto;
}
/* line 565, ../sass/screen.scss */
footer .footer-list {
  width: 15%;
  padding: 15px;
  float: left;
  position: relative;
  display: block;
  max-height: 100%;
}
/* line 574, ../sass/screen.scss */
footer .contact {
  width: 30%;
}
/* line 578, ../sass/screen.scss */
footer .footer-social {
  width: 30%;
}
/* line 581, ../sass/screen.scss */
footer .footer-social ul {
  margin: 5%;
}
/* line 585, ../sass/screen.scss */
footer .footer-social li {
  float: left;
  display: inline-block;
  margin-right: 5%;
  font-size: 120%;
  background: #fff;
  color: #333333;
  border-radius: 12.5px;
  -webkit-border-radius: 12.5px;
  -moz-border-radius: 12.5px;
  -o-border-radius: 12.5px;
  width: 25px;
  height: 25px;
  text-align: center;
}
/* line 601, ../sass/screen.scss */
footer .footer-social li:hover {
  background: #F44336;
}
/* line 606, ../sass/screen.scss */
footer h3 {
  color: #fff;
  text-transform: uppercase;
  margin-bottom: 10px;
}
/* line 614, ../sass/screen.scss */
footer ul li {
  font-size: 0.9em;
}
/* line 618, ../sass/screen.scss */
footer ul a {
  text-decoration: none;
  color: inherit;
}
/* line 622, ../sass/screen.scss */
footer ul a:hover {
  color: #fff;
  font-weight: bold;
}

/* line 630, ../sass/screen.scss */
.calendar-container {
  width: 100%;
  position: relative;
  margin-bottom: 10px;
  margin-top: 10px;
}
/* line 636, ../sass/screen.scss */
.calendar-container select, .calendar-container input {
  font-size: 120%;
  color: #F44336;
  font-weight: 700;
  border: none;
  float: left;
  margin: 5px;
  text-align: center;
}
/* line 648, ../sass/screen.scss */
.calendar-container input {
  width: 100px;
}
/* line 652, ../sass/screen.scss */
.calendar-container button {
  cursor: pointer;
}
/* line 656, ../sass/screen.scss */
.calendar-container i.fa-search {
  font-size: 15px;
  display: inline-block;
  vertical-align: middle;
  text-align: center;
}
/* line 663, ../sass/screen.scss */
.calendar-container button.left {
  padding: 10px;
}
/* line 667, ../sass/screen.scss */
.calendar-container button {
  border-radius: 20px;
  background-color: #F44336;
  -webkit-box-shadow: none;
  box-shadow: none;
  border: none;
  padding: 0;
}
/* line 676, ../sass/screen.scss */
.calendar-container button i {
  color: #fff;
  padding: 5px;
  text-align: center;
  vertical-align: middle;
  display: inline-block;
}
/* line 686, ../sass/screen.scss */
.calendar-container h2, .calendar-container i {
  float: left;
}
/* line 692, ../sass/screen.scss */
.calendar-container .calendar-ul {
  width: 100%;
  vertical-align: middle;
  position: relative;
  padding-top: 20px;
  padding-bottom: 20px;
}
/* line 699, ../sass/screen.scss */
.calendar-container .calendar-ul li {
  float: left;
}
/* line 704, ../sass/screen.scss */
.calendar-container .calendar-ul li.thearrow {
  position: absolute;
  z-index: 200;
  height: 200px;
  bottom: 0;
  margin-bottom: -50px;
}
/* line 711, ../sass/screen.scss */
.calendar-container .calendar-ul li.thearrow .arrow-prev, .calendar-container .calendar-ul li.thearrow .arrow-next {
  font-size: 40px;
  color: #fff;
  width: 100%;
}
/* line 716, ../sass/screen.scss */
.calendar-container .calendar-ul li.thearrow .arrow-prev i, .calendar-container .calendar-ul li.thearrow .arrow-next i {
  display: inline-block;
  vertical-align: middle;
  text-align: center;
}
/* line 722, ../sass/screen.scss */
.calendar-container .calendar-ul li.thearrow .arrow-prev:hover, .calendar-container .calendar-ul li.thearrow .arrow-next:hover {
  color: #F44336;
}
/* line 732, ../sass/screen.scss */
.calendar-container .calendar-ul .main-calendar {
  width: 100%;
  transition: all 2s;
  -o-transition: all 2s;
  -moz-transition: all 2s;
  -webkit-transition: all 2s;
}
/* line 741, ../sass/screen.scss */
.calendar-container .calendar-ul .main-calendar ul li {
  width: 25%;
  height: 200px;
  position: relative;
  overflow: hidden;
}
/* line 748, ../sass/screen.scss */
.calendar-container .calendar-ul .main-calendar ul li:hover .isi-calender {
  background: rgba(0, 0, 0, 0.5);
}
/* line 751, ../sass/screen.scss */
.calendar-container .calendar-ul .main-calendar ul li:hover .isi-calender article {
  display: block;
}
/* line 755, ../sass/screen.scss */
.calendar-container .calendar-ul .main-calendar ul li:hover .isi-calender .calender-date {
  background-color: #F44336;
}
/* line 761, ../sass/screen.scss */
.calendar-container .calendar-ul .main-calendar ul li .isi-calender {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 200;
}
/* line 773, ../sass/screen.scss */
.calendar-container .calendar-ul .main-calendar ul li .isi-calender .calender-date {
  margin: 5px;
  padding: 5px;
  background-color: #000;
  color: #fff;
  font-weight: 700;
  display: inline-block;
}
/* line 782, ../sass/screen.scss */
.calendar-container .calendar-ul .main-calendar ul li .isi-calender .tanggal-merah {
  background-color: #F44336 !important;
}
/* line 786, ../sass/screen.scss */
.calendar-container .calendar-ul .main-calendar ul li .isi-calender article {
  display: none;
  width: 100%;
}
/* line 790, ../sass/screen.scss */
.calendar-container .calendar-ul .main-calendar ul li .isi-calender article ul {
  margin: 5px;
}
/* line 793, ../sass/screen.scss */
.calendar-container .calendar-ul .main-calendar ul li .isi-calender article ul ol {
  float: none;
  width: inherit;
  margin-bottom: 5px;
  color: #fff;
  list-style-type: circle;
  font-weight: 700;
}
/* line 803, ../sass/screen.scss */
.calendar-container .calendar-ul .main-calendar ul li .isi-calender article a {
  text-decoration: none;
  color: #fff;
}
/* line 808, ../sass/screen.scss */
.calendar-container .calendar-ul .main-calendar ul li .isi-calender article a:hover {
  color: #F44336;
}
/* line 816, ../sass/screen.scss */
.calendar-container .calendar-ul .main-calendar ul li .isi-calender img {
  display: none;
}
/* line 820, ../sass/screen.scss */
.calendar-container .calendar-ul .main-calendar ul li img {
  width: 100%;
  height: auto;
  transition: all 2s;
  -o-transition: all 2s;
  -moz-transition: all 2s;
  -webkit-transition: all 2s;
  position: absolute;
}
/* line 831, ../sass/screen.scss */
.calendar-container .calendar-ul .main-calendar ul li.selected img {
  -webkit-filter: grayscale(100%);
}
/* line 837, ../sass/screen.scss */
.calendar-container .calendar-ul .main-calendar ul li:hover img {
  width: 120%;
}

/* line 846, ../sass/screen.scss */
.article-container {
  position: relative;
  background: #fff;
  min-width: 90%;
}
/* line 851, ../sass/screen.scss */
.article-container .flex-img {
  background-color: black;
  width: 100%;
  height: 500px;
  position: absolute;
}
/* line 857, ../sass/screen.scss */
.article-container .flex-img img {
  opacity: 0.5;
  -webkit-filter: grayscale(100%);
  width: 100%;
}
/* line 864, ../sass/screen.scss */
.article-container .fill-article {
  background: #fff;
  position: relative;
  margin-top: 100px;
  box-sizing: border-box;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
/* line 872, ../sass/screen.scss */
.article-container .fill-article img, .article-container .fill-article iframe {
  width: 100%;
  height: auto;
  text-align: center;
}
/* line 878, ../sass/screen.scss */
.article-container .fill-article img {
  padding-bottom: 10px;
}
/* line 882, ../sass/screen.scss */
.article-container .fill-article article, .article-container .fill-article aside {
  float: left;
}
/* line 886, ../sass/screen.scss */
.article-container .fill-article a {
  text-decoration: none;
  color: #F44336;
  cursor: pointer;
}
/* line 892, ../sass/screen.scss */
.article-container .fill-article article {
  width: 60%;
  padding: 20px 20px 40px 20px;
}
/* line 897, ../sass/screen.scss */
.article-container .fill-article article h1 {
  font-size: 200%;
  font-weight: 700;
  line-height: 1;
  text-transform: uppercase;
  margin-bottom: 15px;
}
/* line 905, ../sass/screen.scss */
.article-container .fill-article article p {
  text-align: justify;
  margin-bottom: 5px;
}
/* line 914, ../sass/screen.scss */
.article-container .fill-article strong, .article-container .fill-article .tanggal {
  font-weight: 700;
  color: #fff;
  font-size: 110%;
}
/* line 920, ../sass/screen.scss */
.article-container .fill-article aside {
  width: 40%;
  padding: 10px;
  background: #2F3541;
  color: #bebebe;
  top: 0;
  bottom: 0;
  position: absolute;
  right: 0;
}
/* line 930, ../sass/screen.scss */
.article-container .fill-article aside li {
  text-align: justify;
  margin-top: 10px;
  border-bottom: 1px solid #454D5D;
  padding-bottom: 5px;
  width: 100%;
}
/* line 937, ../sass/screen.scss */
.article-container .fill-article aside li.barcode {
  text-align: center;
  display: inline-block;
  vertical-align: middle;
}
/* line 942, ../sass/screen.scss */
.article-container .fill-article aside li.barcode img {
  width: 100px;
}

/* line 953, ../sass/screen.scss */
.about-us {
  background: #F44336;
  padding-top: 120px;
  color: #e0e0e0;
  font-size: 110%;
  display: none;
}
/* line 960, ../sass/screen.scss */
.about-us h2, .about-us h3 {
  color: #fff;
  text-transform: uppercase;
}
/* line 965, ../sass/screen.scss */
.about-us h2 {
  font-size: 200%;
}
/* line 969, ../sass/screen.scss */
.about-us h3 {
  font-size: 150%;
}
/* line 973, ../sass/screen.scss */
.about-us ul {
  padding-bottom: 20px;
}
/* line 976, ../sass/screen.scss */
.about-us ul .maps {
  width: 100%;
}
/* line 979, ../sass/screen.scss */
.about-us ul .maps iframe {
  width: 100%;
}
/* line 984, ../sass/screen.scss */
.about-us ul li {
  width: 50%;
  float: left;
  padding: 20px;
}
/* line 989, ../sass/screen.scss */
.about-us ul li:nth-child(2) {
  border-left: 1px solid #e0e0e0;
}
/* line 993, ../sass/screen.scss */
.about-us ul li p {
  padding-top: 10px;
}

/* line 1001, ../sass/screen.scss */
.search-submission {
  margin-top: 50px;
  margin-bottom: 20px;
  color: #F44336;
}
/* line 1006, ../sass/screen.scss */
.search-submission div {
  overflow: hidden;
}
/* line 1010, ../sass/screen.scss */
.search-submission h3 {
  font-size: 150%;
  font-weight: 700;
}
/* line 1015, ../sass/screen.scss */
.search-submission .div-head {
  border-bottom: 2px solid #F44336;
  padding-bottom: 20px;
}
/* line 1022, ../sass/screen.scss */
.search-submission .search-button input {
  margin-top: 10px;
  padding: 5px;
  border-radius: 5px;
  width: 90%;
  border: 1px solid #bebebe;
}
/* line 1031, ../sass/screen.scss */
.search-submission .result-bar, .search-submission .aside-bar {
  float: left;
  margin-top: 50px;
}
/* line 1036, ../sass/screen.scss */
.search-submission .result-bar {
  width: 70%;
  border-right: 1px solid #ebebeb;
  padding-right: 10px;
}
/* line 1044, ../sass/screen.scss */
.search-submission .result-bar .div-box {
  margin-top: 20px;
  border-bottom: 2px dotted #ebebeb;
  padding-bottom: 20px;
}
/* line 1049, ../sass/screen.scss */
.search-submission .result-bar .div-box h5 {
  background: #F44336;
  color: #fff;
  font-weight: 700;
  padding: 5px;
  display: inline-block;
}
/* line 1057, ../sass/screen.scss */
.search-submission .result-bar .div-box h2 {
  text-transform: uppercase;
  font-size: 180%;
  width: 100%;
  margin-bottom: 20px;
}
/* line 1065, ../sass/screen.scss */
.search-submission .result-bar .div-box .div-img {
  float: left;
  width: 30%;
}
/* line 1070, ../sass/screen.scss */
.search-submission .result-bar .div-box .div-img img {
  width: 100%;
}
/* line 1076, ../sass/screen.scss */
.search-submission .result-bar .div-info {
  padding: 0 10px;
  float: left;
  width: 70%;
  color: #000;
  text-align: justify;
}
/* line 1083, ../sass/screen.scss */
.search-submission .result-bar .div-info a.read-more {
  text-align: right;
  display: inherit;
  color: #F44336;
}
/* line 1092, ../sass/screen.scss */
.search-submission .aside-bar {
  width: 30%;
  padding: 10px;
}
/* line 1097, ../sass/screen.scss */
.search-submission .aside-bar .aside-box {
  margin-bottom: 20px;
  padding-bottom: 10px;
  border-bottom: 1px solid #ebebeb;
}
/* line 1102, ../sass/screen.scss */
.search-submission .aside-bar .aside-box h2 {
  margin-bottom: 0px;
}
/* line 1107, ../sass/screen.scss */
.search-submission .aside-bar h2 {
  text-transform: uppercase;
  font-size: 180%;
  width: 100%;
  margin-bottom: 20px;
}
/* line 1114, ../sass/screen.scss */
.search-submission .aside-bar h5 {
  background: #F44336;
  color: #fff;
  font-weight: 700;
  padding: 5px;
  display: inline-block;
}
/* line 1122, ../sass/screen.scss */
.search-submission .aside-bar img {
  width: 100%;
}

@media only screen and (min-width: 0px) and (max-width: 786px) {
  /* line 1132, ../sass/screen.scss */
  .calendar-container .calendar-ul .main-calendar li {
    width: 100%;
    float: none;
  }

  /* line 1137, ../sass/screen.scss */
  .menu-toggle {
    display: block;
  }

  /* line 1141, ../sass/screen.scss */
  body {
    width: 100%;
    height: 100%;
  }

  /* line 1148, ../sass/screen.scss */
  .article-container .fill-article article, .article-container .fill-article aside {
    float: none;
  }
  /* line 1152, ../sass/screen.scss */
  .article-container .fill-article article {
    width: 100%;
  }
  /* line 1156, ../sass/screen.scss */
  .article-container .fill-article aside {
    position: relative;
    width: 100%;
  }

  /* line 1162, ../sass/screen.scss */
  .main-width {
    max-width: 100%;
    width: 100%;
  }

  /* line 1167, ../sass/screen.scss */
  .activated {
    height: 100% !important;
  }

  /* line 1171, ../sass/screen.scss */
  .straight-menu {
    display: none;
  }

  /* line 1179, ../sass/screen.scss */
  .calendar-container .calendar-ul .main-calendar ul li {
    width: 100%;
    height: 344px;
    float: none;
  }

  /* line 1187, ../sass/screen.scss */
  section.slide-wrapper .ninja-wrap {
    max-width: 100%;
    height: 500px;
  }
  /* line 1191, ../sass/screen.scss */
  section.slide-wrapper .ninja-wrap .slide {
    background-size: 1350px 500px;
    height: 500px;
  }
  /* line 1196, ../sass/screen.scss */
  section.slide-wrapper .ninja-wrap .slide section.row .slide-copy {
    width: 100%;
    bottom: 0;
    position: absolute;
    padding-top: 0;
    padding: 15px;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
    margin: 0;
  }
  /* line 1206, ../sass/screen.scss */
  section.slide-wrapper .ninja-wrap .slide section.row .slide-copy article {
    width: 95%;
  }
  /* line 1214, ../sass/screen.scss */
  section.slide-wrapper .slider-nav {
    top: 0;
  }
  /* line 1217, ../sass/screen.scss */
  section.slide-wrapper .slider-nav li {
    width: 20px;
    height: 50px;
    float: none;
  }

  /* line 1226, ../sass/screen.scss */
  section.slide-wrapper .slider-nav .dot {
    font-size: 120%;
  }

  /* line 1232, ../sass/screen.scss */
  header.navigation {
    display: none;
  }

  /* line 1236, ../sass/screen.scss */
  section.bodywrapper .main-menu .main-menu-wrapper {
    width: 100%;
    height: 344px;
  }
  /* line 1242, ../sass/screen.scss */
  section.bodywrapper .main-menu .main-menu-wrapper .div-img-bg {
    background-size: auto 100%;
  }
  /* line 1246, ../sass/screen.scss */
  section.bodywrapper .main-menu .main-menu-wrapper article {
    vertical-align: middle;
    display: inline-block;
    text-align: center;
  }
  /* line 1252, ../sass/screen.scss */
  section.bodywrapper .main-menu .main-menu-wrapper article h1 {
    font-size: 30px;
  }
  /* line 1256, ../sass/screen.scss */
  section.bodywrapper .main-menu .main-menu-wrapper article p {
    font-size: 16px;
  }

  /* line 1263, ../sass/screen.scss */
  footer .footer-list, footer .footer-social {
    width: 100%;
  }
}
